@import '../variables';
@import '../mixins';

.resume-container {
  .jobs {
    padding-left: 20px;
    border-left: 1px solid $yellow;

    .job {
      &--header {
        line-height: 24px;
        margin-bottom: 10px;

        &-position {
          @include bullet-list($salmon);

          font-size: $text-lg;
        }

        &-company {
          padding-right: 10px;
        }
      }

    }
  }
}
