@import './variables';
@import './mixins';

@import 'components/education';
@import 'components/header';
@import 'components/info';
@import 'components/resume';
@import 'components/skills';

/* --- General Styles --- */

body {
  margin: 0;
  padding: 0;
  font-size: $text-default;
  font-family: 'Open Sans', sans-serif;
  color: $default-text-color;
  background-color: $light-gray;
}

.section-container {
  padding: 20px;
  display: flex;

  &.columns {
    flex-direction: column;
  }

  .rows {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &.row-1 {
      flex-wrap: wrap;

      @include for-tablet-landscape-up {
        flex-wrap: nowrap;
      }

      .section {
        &--25, &--50 {
          flex: 0 1 100%;
        }

        &--skills {
          padding-bottom: 15px;
        }

        @include for-tablet-landscape-up {
          &--25 {
            flex: initial;
            width: 25%;
          }

          &--50 {
            flex: initial;
            width: 50%;
          }
        }
      }
    }

    &.row-2 {
      flex-wrap: wrap;

      @include for-desktop-up {
        flex-wrap: nowrap;
      }

      .section {
        &--25, &--50 {
          flex: 0 1 100%;
        }

        &--skills {
          padding-bottom: 15px;
        }

        @include for-desktop-up {
          &--25 {
            flex: initial;
            width: 25%;
          }

          &--50 {
            flex: initial;
            width: 50%;
          }
        }
      }
    }

    .section {
      background-color: $white;
      margin: 10px;
      padding: 30px;
      border: $default-border;
      box-sizing: border-box;
    }
  }
}

.title {
  font-family: $cursive-font;
  font-size: 30px;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.date-range {
  @extend .italic;
  font-size: $text-sm;
}

.list-item {
  padding: 10px 0;

  &--small {
    padding: 5px 0;
  }

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

a {
  color: $default-text-color;
  text-decoration: none;

  &:hover {
    color: $light-blue;
  }
}
