@mixin bullet-list($color) {
  position: relative;

  &:before{
     content: '';
     position: absolute;
     left: -27px;
     top: 5px;
     display: inline-block;
     width: 12px;
     height: 12px;
     border-radius: 6px;
     background-color: $color;
  }
}
