/* Coolors Exported Palette - coolors.co/05668d-4ecdc4-fa8b7e-fcf083-ffffff */
/* --- COLORS --- */
$dark-blue: rgba(5, 102, 141, 1);          // #05668D
$lighter-dark-blue: rgba(5, 102, 141, .4);
$light-blue: rgba(78, 205, 196, 1);        // #4ECDC4
$lighter-blue: rgba(78, 205, 196, .4);
$salmon: rgba(250, 139, 126, 1);           // #FA8B7E
$yellow: rgba(252, 240, 131, 1);           // #FCF083
$white: #ffffff;
$dark-gray: #424242;
$medium-gray: #dee5e7;
$light-gray: #f6f8f8;

$title-font: 'Quicksand', sans-serif;
$cursive-font: 'Grand Hotel', cursive;
$default-text-color: $dark-gray;
$default-border: 1px solid $medium-gray;

/* --- FONT SIZES --- */
$text-h1: 82px;
$text-h2: 30px;
$text-xl: 20px;
$text-lg: 18px;
$text-default: 16px;
$text-sm: 14px;
$text-xs: 12px;
