/* Coolors Exported Palette - coolors.co/05668d-4ecdc4-fa8b7e-fcf083-ffffff */
/* RGB */
$dark-blue: rgba(5, 102, 141, 1);          // #05668D
$lighter-dark-blue: rgba(5, 102, 141, .4);
$light-blue: rgba(78, 205, 196, 1);        // #4ECDC4
$lighter-blue: rgba(78, 205, 196, .4);
$salmon: rgba(250, 139, 126, 1);           // #FA8B7E
$yellow: rgba(252, 240, 131, 1);           // #FCF083
$white: #ffffff;
$light-gray: #f6f8f8;

$title-font: 'Quicksand', sans-serif;
$cursive-font: 'Grand Hotel', cursive;
$text-dark-gray: #424242;
$default-border: 1px solid #dee5e7;
