@import '../../styles/shared';

.header {
  display: flex;
  justify-content: space-between;
  font-family: $header-font-family;

  a {
    color: $slate;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    margin: rem(16) rem(48);
    font-size: rem(24);
    letter-spacing: .5px;
  }

  .menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: rem(16) rem(48);

    .menu-item {
      padding: 10px;
      letter-spacing: .5px;
    }
  }
}
