// --- VARIABLES ---
// Colors
$slate: #3d3d3d;

// Font stuff
$base-font-size: 16px;
$font-family: 'Quicksand', sans-serif;

// Breakpoints
$mobile: 600px;
$tablet: 900px;
$desktop: 1200px;
$desktop-large: 1800px;


// --- MIXINS ---
@mixin phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin tablet-portrait-up {
  @media (min-width: $mobile) { @content; }
}
@mixin tablet-landscape-up {
  @media (min-width: $tablet) { @content; }
}
@mixin desktop-up {
  @media (min-width: $desktop) { @content; }
}
@mixin big-desktop-up {
  @media (min-width: $desktop-large) { @content; }
}

// --- FUNCTIONS ---
@function rem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}
